.title-container-header {
  font-size: 1.4em;
}

  .form {
      display: grid;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 50px;
      height: 30px;
      width: 100%;
      
  }  

  .header {
    display: flex;
    justify-content: space-evenly;
  }

  .logo {
    display: flex;
    justify-content: center;
    background-image: url("../src/logo.png");
    background-repeat: no-repeat;
    width: 100px;
    height:80px;
    border: 1px solid black;
  }

  .title-logo {
    background-color: #8A9B68;
    font-family: 'Libre Baskerville', serif;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #252627;
  }

  .weather__error {
    display: grid;
    justify-content: center;
  }

  .weather-info {
    display: grid;
    justify-content: center;
    padding-top: 80px;
    font-family: 'Libre Baskerville', serif;
  }

  .weather {
    display: flex;
    justify-content: center;
  }

  .btn {
    font-family: 'Libre Baskerville', serif;
    font-size: .8em;
    display: flex;
    justify-content: center;
    width: 50%;
    border-radius: 5px;
    border: 2px solid #252627;
    box-shadow: 10px;
    
    
  }

  .inputs {
    /* background-color: #4B88A2; */
    border: none;
    margin: 10px;
    font-family: 'Libre Baskerville', serif;
    border: 2px solid #252627;
    border-radius: 5px;
    padding: 5px;
  }

  ::placeholder {
    font-size: 1em;
    color: #252627;
    font-family: 'Libre Baskerville', serif;
    border-radius: 5px;
    
  }

  .submit {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }


