.title-container-header {
  font-size: 1.4em;
}

.title-header {
  padding-top: 30px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.7em;
}

  .form {
      display: grid;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 50px;
      height: 30px;
      width: 100%;
      
  }  

  .header {
    display: flex;
    justify-content: space-evenly;
  }

  .logo {
    display: flex;
    justify-content: center;
    background-image: url("../src/logo.jpg");
    background-repeat: no-repeat;
    width: 100px;
    height:100px;
    border: 2px solid black;
  }

  .title-logo {
    background-color: #8A9B68;
    font-family: 'Libre Baskerville', serif;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 4px solid #252627;
  }

  .weather__error {
    display: grid;
    justify-content: center;
    background-color: #8A9B68;
  }

  .weather-info {
    display: grid;
    justify-content: center;
    padding-top: 80px;
    font-family: 'Libre Baskerville', serif;
  }

  .weather__key {
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
    background-color: #8A9B68;
  }

  .weather {
    display: flex;
    justify-content: center;
  }

  .btn {
    font-family: 'Libre Baskerville', serif;
    font-size: .8em;
    display: flex;
    justify-content: center;
    width: 50%;
    border-radius: 5px;
    border-bottom: 2px solid #252627;
    background-color: transparent;
  }

  .inputs {
    background-color: transparent;
    border: none;
    margin: 10px;
    font-family: 'Libre Baskerville', serif;
    border-bottom: 2px solid #252627;
    border-radius: 1px;
    padding: 5px;
  }

  ::placeholder {
    font-size: 1em;
    color: #252627;
    font-family: 'Libre Baskerville', serif;
    border-radius: 5px;
    
  }

  .submit {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }


